/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Old Standard TT', serif;*/
body {
    margin: 100px 0;
  }

h1 {
    font-family: 'Prata', serif;
    text-align: center;
    margin: 60px;
}

h3 {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    margin-top: 100px;
}

h6 {
    font-family: 'Old Standard TT', serif;
    font-weight: lighter;
    font-size: 20px;
}

p {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    margin: 40px;
}
  
strong {
    font-family: 'Old Standard TT', serif;
    text-decoration: underline;
}

li {
    font-family: 'Old Standard TT', serif;
    list-style: none;
}

footer {
    color: white;
    background-color: #ffbf69;
}

.navbar {
    background-color: #ffbf69;
}

.flux-logo {
   width: 200px;
}

.fashion-photos:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;   
}

.gender {
    margin: 100px 260px;
    padding: 40px;
    color: #ff7d00;
    background: white;
    border: 1px solid #ffbf69;
}
.gender:hover {
    cursor: pointer;
    color: white;
    background: #ffbf69;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .mb-3 {
    font-family: 'Old Standard TT', serif;
  }

  .form {
    margin: 50px;
  }

  .btn {
    background: #ffbf69;
    border-color: transparent;
  }
  .btn:hover {
    background: #ff7d00;
    border-color: transparent;
}  

.contact-info {
    text-align: center;
    margin: 30px;
    padding: 20px;
    border: 1px solid #ffbf69;
    border-radius: 20px;
  }
.contact-info a {
    color: #ff7d00;
}
.contact-info a:visited {
    color: #ffbf69;
}

.body-shape {
    width: 90px;
}
.body-shape:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all .2s ease-in-out;
}

.content {
    font-family: 'Old Standard TT', serif;
    margin-left: -30px;
}

.container {
    text-align: center;
}

.col-6 {
    padding: 50px;
}

.copyrights {
    background: #ffbf69;
    padding: 5px;
    border-radius: 10px;
}

.women-body {
    margin: 60px;
}

.men-body {
    margin: 60px;
}

#rectangle-clothing {
    width: 400px;
    margin: 40px;
}

#header {
    margin-top: 180px;
}

@media (max-width: 375px) {
    h1 {
      font-size: 40px;
      line-height: 1.5;
    }

    h2 {
      font-size: 30px;
    }

    .images-main{
        width: 90%;
        margin: 0 auto;
    }

    .form {
        width: 100%;
    }
}